form {
  background-color: var(--form);
  padding: 1rem;
  color: var(--form-text);
  border: 1px solid var(--form-text);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(2rem, auto);
  grid-gap: 1rem;
  grid-template-areas: 
    'location date'
    'number gender'
    'species species'
    'status status'
    'clear submit';
}

/* grids stuff */
form > div.location {
  grid-area: location;
}

form > div.date {
  grid-area: date;
}

form > div.number-birds {
  grid-area: number;
}

form > div.gender {
  grid-area: gender;
}

form > div.species {
  grid-area: species;
}

form > div.status {
  grid-area: status;
}

button.clear {
  grid-area: clear;
}

input.submit {
  grid-area: submit;
}

/* form fields */
input, select {
  display: block;
  width: 100%;
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  color: var(--form-text);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--form-text);
  border-radius: 0.4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form > div > p {
  font-weight: bold;
}

label {
  padding-right: 1rem;
}

article.radio-btn-flex-wrapper, 
article.checkbox-flex-wrapper {
  margin: 0.6rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.6rem;
}

p.one-radio-option,
p.one-checkbox-option {
  display: inline-flex;
  gap: 1rem;
  vertical-align: middle;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

input[type='checkbox'] ~ label {
  vertical-align: middle;
}

input#add-submit, input#clear-form {
  margin: auto 0;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--dark-green);
  border: 2px solid var(--dark-green);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

input#add-submit:hover,
input#add-submit:focus {
  background-image: linear-gradient(90deg, var(--orange), var(--light-yellow));
  border: 2px solid var(--orange);
  color: black;
}

input#clear-form {
  background-color: var(--form);
  color: var(--dark-green);
}

input#clear-form:hover,
input#clear-form:focus {
  background: var(--dark-green);
  border: 2px solid var(--dark-green);
  color: white;
}
