@media only screen and (max-width: 699px) {
  section#bird-list {
    display: block;
  }

  /*** Form ***/
  form {
    grid-template-areas: 
    'location location'
    'date date'
    'number number'
    'gender gender'
    'species species'
    'status status'
    'submit submit'
    'clear clear';
  }

  article.checkbox-flex-wrapper {
    flex-direction: column;
    align-items: start;
  }
}

/*** TABLETS ***/
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  section#bird-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}